source https://nuget.org/api/v2

nuget FSharp.Core 4.0.0.1
nuget FSharp.Formatting 2.12.0
nuget NUnit 2.6.4
nuget NUnit.Runners 2.6.4
nuget OxyPlot.GtkSharp 2014.1.546
nuget OxyPlot.Core 2014.1.546
nuget Nuget.CommandLine
nuget FAKE 4.64.13
nuget FSharp.Control.AsyncSeq 2.0.2